# source
lib
docs
tests
index.ts
package-lock.json
tsconfig.json
tsconfig.build.json
.prettierrc
.prettierignore

# github
.github
renovate.json

# misc
.commitlintrc.json
.editorconfig
.eslintignore
.eslintrc.js
.huskyrc
.lintstagedrc
.release-it.json
